examples/*.mat
examples/plot*.ps
examples/psy_*.*
examples/psydat*
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.out
doc/*.ps
doc/*.toc
exp2/
simu/
*.m~
*.tar*
*.zip
psylab-*.*/
todolist*
Makefile*
*~
*v1*
mpsy_simu*.m
mpsy_optdet.m
mpsy_internal_repr.m
mpsy_template.m
psydat_helper-ok*
psydat_helper_probe.m
TODO
